/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

a:hover {
  color: grey;
}

a,
p {
  font-size: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

/* navigation bar */

.main-header {
  background-color: rgb(39, 36, 36);
  padding: 0.5rem;
}

.nav-bar {
  display: flex;
  align-items: center;
  min-height: 10vh;
  /* padding: 0.3rem; */
  width: 90%;
  margin: auto;
  justify-content: space-between;
}

.logo {
  font-family: "Pattaya", sans-serif;
  font-weight: 200;
  font-size: 2rem;
  color: white;
  flex: 2;
}

.nav-bar ul {
  display: flex;
  color: white;
}

.nav-bar li {
  padding: 1rem;
}

/* Hero section */

.hero {
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), transparent),
    url("img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero p {
  padding: 1.5rem 0;
  text-align: center;
}

.btn-book {
  padding: 0.75rem 2.25rem;
  color: white;
  background-color: rgb(43, 109, 172);
  transition: all 0.3s ease;
}

.btn-book:hover {
  background-color: rgb(29, 88, 143);
}

/* Location Section */

#location {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent),
    url("img/location1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -2;
  overflow: hidden;
}

.location-container {
  height: 100%;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.location-container h3 {
  text-decoration: underline;
  text-decoration-thickness: 0.25rem;
  padding: 1rem 0;
}

.location-container p {
  padding: 1rem 0;
  /* background: linear-gradient(rgb(121, 29, 29), rgb(59, 58, 58));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.cloud {
  width: 60%;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

.cloud-1 {
  animation: cloudAnimation 5s infinite alternate-reverse ease-in-out;
}

.cloud-2 {
  top: 10%;
  right: -10%;
  z-index: -1;
  animation: cloudAnimation 6s infinite alternate ease-in-out;
}

/* Benefits Section */

.benefits-header {
  background-color: rgb(39, 36, 36);
  min-height: 30vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits-header h3 {
  font-weight: 200;
}

.cards-container {
  min-height: 70vh;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  height: 15rem;
  border-radius: 3rem;
  flex: 1 1 15rem;
  box-shadow: 0 0.5rem 1rem rgb(161, 159, 159);
  margin: 1.5rem;
}

.icon {
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  background-color: rgb(53, 60, 65);
  padding: 1rem;
  text-align: center;
  font-size: 3rem;
  color: white;
}

.card h1 {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
}

.card p {
  padding: 1rem;
  text-align: center;
}

/* Animations */

@keyframes cloudAnimation {
  from {
    transform: translate(10%);
  }
  to {
    transform: translate(0);
  }
}

/* Media Queries */

@media screen and (max-width: 794px) {
  .nav-bar {
    flex-direction: column;
    align-items: center;
  }
  .cloud {
    width: 80%;
  }
}

@media screen and (max-width: 498px) {
  .hero h2 {
    text-align: center;
    font-size: 2rem;
  }
  .hero p,
  .location-container p {
    font-size: 0.8rem;
  }
  .btn-book {
    padding: 0.5rem 2rem;
  }
  .location-container h3 {
    font-size: 1.5rem;
  }
  .cloud-1,
  .cloud-2 {
    animation: cloudAnimation 5s alternate infinite ease-in-out;
  }
  .cloud-2 {
    right: -15%;
  }
}
